.App {
  text-align: center;
}

.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h1,
h2,
h3 {
  font-family: "Special Elite", cursive;
}

img {
  max-width: 100%;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-between;

  .card {
    width: 30%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 60px;
}

.App-link {
  color: #61dafb;
}
